In this notebook, we are going to look at our raw dataset `banks.xlsx` for cleaning purposes. We will be using the `pandas` library to help us with this task.

In [51]:
# import libraries
import numpy as np
import pandas as pd

In [52]:
# load the data
df = pd.read_excel("../data/raw/banks_raw.xlsx")

In [53]:
df.columns

Index(['address', 'categoryName', 'cid', 'city', 'location/lat',
       'location/lng', 'phone', 'rank', 'reviewsCount', 'title', 'totalScore',
       'reviewId', 'publishedAtDate', 'stars', 'text', 'textTranslated',
       'reviewerId', 'reviewerNumberOfReviews', 'name'],
      dtype='object')

We need to change some columns names, look at the data types ...

In [54]:
df.columns = ['bank_adress', 'bank_category', 'bank_id', 'bank_city', 'bank_latitude', 'bank_longitude', 'bank_phone', 'bank_rank', 'bank_reviews_count', 'bank_title', 'bank_score', 'review_id', 'review_date', 'review_stars', 'review_text', 'review_text_translated', 'reviewer_id', 'reviewer_num_reviews', 'reviewer_name']

In [55]:
df.head()

,bank_adress,bank_category,bank_id,bank_city,bank_latitude,bank_longitude,bank_phone,bank_rank,bank_reviews_count,bank_title,bank_score,review_id,review_date,review_stars,review_text,review_text_translated,reviewer_id,reviewer_num_reviews,reviewer_name
0,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2023-02-27T15:53:13.594Z,5.0,Une très belle équipe .\nJe recommande spécial...,NaN,NaN,12.0,NaN
1,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-09-28T09:38:14.263Z,5.0,NaN,NaN,NaN,0.0,NaN
2,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-05-27T18:42:53.897Z,2.0,NaN,NaN,NaN,49.0,NaN
3,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-04-08T13:10:33.584Z,1.0,NaN,NaN,NaN,2.0,NaN
4,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-01-08T15:36:51.089Z,1.0,Mauvais service client,NaN,NaN,2.0,NaN

In [56]:
# drop duplicates reviews
df = df.drop_duplicates()

In [57]:
df['bank_city'].unique()

array(['Casablanca', 'Rabat', 'Rabat Hassan', 'Fès', 'Marrakech',
       'Tanger', 'Al Hoceïma', 'Meknès', 'Safi', 'Nador', 'Kénitra',
       'El Jadida', 'Tétouan', 'Khouribga', 'Zagora', 'Dakhla',
       'Laayoune', 'Laâyoune', 'Settat', 'Guisser', 'Ouarzazate',
       'Guelmim', 'Berrchid', 'Sidi Ifni', 'Berkane', 'Sefrou',
       'Taounate', 'Khémisset', 'Essaouira', 'Boujdour'], dtype=object)

We notice that there are some cities that are written in different ways, we need to fix that.

In [58]:
df.loc[df['bank_city'] == 'Rabat Hassan', 'bank_city'] = 'Rabat'
df.loc[df['bank_city'] == 'Laayoune', 'bank_city'] = 'Laâyoune'
df['bank_city'].unique()

array(['Casablanca', 'Rabat', 'Fès', 'Marrakech', 'Tanger', 'Al Hoceïma',
       'Meknès', 'Safi', 'Nador', 'Kénitra', 'El Jadida', 'Tétouan',
       'Khouribga', 'Zagora', 'Dakhla', 'Laâyoune', 'Settat', 'Guisser',
       'Ouarzazate', 'Guelmim', 'Berrchid', 'Sidi Ifni', 'Berkane',
       'Sefrou', 'Taounate', 'Khémisset', 'Essaouira', 'Boujdour'],
      dtype=object)

Cities are now clean.

In [59]:
df['bank_category'].unique()

array(['Banque', "Service de transfert d'argent",
       "Service de transfert d'argent par mandat", "Banque d'épargne",
       'Poste', 'Institution financière', 'Établissement de crédit',
       'Magasin de téléphonie mobile', 'Conseiller financier',
       'Bibliothèque municipale', 'Bureau de change',
       'Distributeur de billets', nan, 'Attraction touristique',
       'Pizzeria', 'Dépôt-vente'], dtype=object)

We see that here, we got some categories that are not really banks, we need to get rid of them.

In [60]:
df = df.loc[df['bank_category'].isin(['Banque', "Banque d'épargne", 'Institution financière', 'Établissement de crédit', np.nan])]
df['bank_category'].unique()

array(['Banque', "Banque d'épargne", 'Institution financière',
       'Établissement de crédit', nan], dtype=object)

In [61]:
df['bank_title'].unique()

array(['Bank Of Africa, Agence Al Massira, Maarif.', 'Citibank',
       'Al Akhdar Bank agence casa Racine',
       'BANK OF AFRICA, Agence Abdelmoumen, Casablanca.',
       'Attijariwafa Bank', 'Bank Assafa - Agence PALMIER',
       'BANK OF AFRICA', 'BANK OF AFRICA Golf', 'Bank chaabi',
       'Bank of Africa', 'AttijariWafa Bank Blaise Pascal',
       'Bank of Africa la Gironde', 'ATTIJARIWAFA BANK Sidi Abderrahmane',
       'Attijariwafa Bank, Agence Rue De Rome, Mers Sultan.',
       'Banque Attijariwafa Bank', 'Al Barid bank',
       'BANK OF AFRICA RABAT HAY RIYAD',
       'Attijariwafa Bank Rabat Abd. AlKhattabi', 'BMCE Bank',
       'Bank Al Yousr', 'CFG Bank - Agence Rabat Souissi',
       'banque populaire', 'Barid Bank', 'Umnia Bank Rabat Al Manal',
       'AL AKHDAR BANK HAY RIAD', 'Attijariwafa bank', 'Banque Al yousr',
       'BMCE BANK Agence Rabat Centrale', 'Tijariwafa Bank',
       'Umnia Bank (ag. Rabat hay Ryad)', 'BANK OF AFRICA RABAT CENTRALE',
       'Banque Populaire بنك الشعبي', 'Banque populaire',
       'Crédit du Maroc', 'Société Générale', 'Banque Populaire', 'BMCE',
       'al barid bank', 'AL BARID BANK',
       'Société Générale Fes Route Ain Chkef', 'Umnia Bank Fes',
       'CIH BANK', 'Banque CIH',
       'Espace Libre Service - Société Générale Maroc',
       'CFG Bank - Agence Fes', 'AttijariWafa:1 Bank',
       'Umnia Bank Fes Es-Saada', 'Bank', 'bmce bank', 'BANK BMCE',
       'Société Générale Marrakech Medina', 'CIH Bank',
       'CIH Bank, Agence Marrakech, Hassan II.',
       'Bank Assafa - Agence Marrakech', 'Umnia Bank Marrakech Medina',
       'Attijariwafa banque', 'ATTIJARIWAFABANK',
       'Agence Banque Populaire - البنك الشعبي',
       'Umnia Bank Marrakech Menara', 'Société Générale Tanger Castilla',
       'Société générale Tanger Malabata', 'cashplus tanger',
       'Attijariwafa Bank.', 'بنك الشعبي bank populaire', 'Dar Al Amane',
       'Umnia Bank Tanger', 'Umnia Bank Tanger Dar Tounssi',
       'Bank Assafa - Agence Tanger Mly Ismail',
       'Attijariwafa Bank - Tanger Gzenaya',
       'AL AKHDAR BANK TANGER EL BOUGHAZ', 'Bmci', 'البنك الشعبي',
       'Banque Al-Maghrib', 'Al Barid Bank',
       'Société Générale Meknes Marjane', 'Banque Credit Agricole',
       'attijariwafa bank touarga', 'Société Générale Meknes Medina',
       'Cashplus Zioune', 'ATTIJARIWAFA BANK Hassane 2',
       'Crédit Agricole', 'Bank Assafa - Agence Meknès',
       'AttijariWafa Bank Hamria', 'Société Générale Meknes Principale',
       'Bmce Bank Yacoub el Mansour', 'Société Générale Meknes Zitoune',
       'Umnia Bank Meknes', 'Société Générale Safi Kennedy',
       "ATTIJARI WAFA BANK Centre D'Affaires",
       'Société Générale Safi Driss 1er', 'القروض الصغرى',
       'Banque Populaire ag°2', 'التجاري وفا بنك',
       'Agence Attijariwafa Bank', 'SGMB AGENCE SAFI',
       'التجاري وفابنك - Attijariwafa Bank', 'Cashplus', 'Safaa Bank',
       'Agence Banque Populaire', 'Banque BMCE', 'البريد بنك',
       'Allo Multi-services Chaabi Cash', 'BMCE BANK',
       'Banque populaire Bab Fes', 'بريد بنك',
       'Société Générale Nador Principale', 'Bank al-Maghrib',
       'Société Générale Kenitra Principale', 'UMB', 'Umnia Bank Safi',
       'Banque Crédit Du Maroc', 'Société Générale Kenitra Mimosas',
       'Crédit Agricole du Maroc - Succursale de Kénitra',
       'Agence Al Akhdar BANK', 'Umnia Bank Nador',
       'Banque Populaire - Succursale de Kénitra',
       'التجاري وفا بنك Attijariwafa bank',
       'Société Générale Kenitra Imam Ali',
       'Société Générale Riad Kenitra', 'Banque Populaire Ibn Battouta',
       'HAWS BANK', 'Agence BMCE Banque kenitra Avenue Mly Abdelazziz',
       'Bank Assafa - Agence Kénitra', 'Banque Populaire D El Jadida',
       'Tentes Méditerranée', 'Umnia Bank', 'Bank Assafa', 'Barid Banque',
       'Société Générale Tetouan Sidi Mandri', 'Bank Al Maghreb',
       'Al Barid Bank Tetouan Touabel', 'El Bayad Said',
       'Umnia Bank Tetouan', 'Al AKHDAR Bank, ag Tétouan',
       'البنك الشعبي وكالة زاكورة', 'Barid cash بريد كاش',
       'rio de oro voyages', 'Wafasalaf Laayoune', 'Crédit Du Maroc',
       'بنك CIH', 'Albaridbank Agence Principale', 'Base navale',
       'Société Générale Laayoune', 'Umnia Bank Laayoune',
       'Siège AL BARID BANK', 'SOCIETE GENERALE LAAYOUNE AL WAHDA',
       'Société Générale Dakhla', 'Société Générale Laayoune Mohamed VI',
       'Société Générale SETTAT LALLA AICHA', 'Wafacash',
       'Attijariwafa Bank, Agence Settat, Avenue Des FAR.',
       'Banque Populaire, Agence SETTAT, Moulay Youssef.',
       'Société Générale, Agence Settat.', 'Credit agricole',
       'Crédit Agricole Maroc', 'Espace INWI Settat',
       'Attijariwafa Bank Agence Settat Atlas',
       'Bmci Bnp Paribas, Agence SETTAT.',
       'Banque Populaire, Agence FAR, Settat.',
       'Attijariwafa Bank, Agence SETTAT, Route El Jadida.',
       'Attijariwafa Bank, Agence SETTAT, Place Mohamed V',
       'Umnia Bank Settat', 'Bank Of Africa, Agence Settat Principale.',
       'LANA CASH ET CENTRE COPIE ET PUBLICTE', 'Banque Al Maghreb',
       'Centre Monétique Interbancaire', 'AXA Crédit Ouarzazate',
       'Credit Agricole', 'wafacash', 'BMCI', 'Poste Maroc',
       'société générale', 'بنك الشركة العامة', 'Umnia Bank Ouarzazate',
       'الأمانة للقروض الصغرى', 'Cash Plus', 'Bmce Agence',
       'cashplus saada guelmim a cote la gare routiére',
       'Umnia Bank Guelmim', 'AttijariWafa Banque', 'Canal M Berrechid',
       'CIH Banque', 'BMCE Banque', 'Banque Populaire البنك الشعبي',
       'Bank of africa', 'Société Générale Berrechid', 'Wafa Bank',
       'Bank Al Yousr Berrechid', 'Umnia Berrechid', 'Attawfiq',
       'Crédit Agricole du Maroc', 'Banque Populaire AL WIFAQ',
       'Société Générale ANDALOUS', 'Société Générale Berkane Andalous',
       'Fondation ALKARAMA micro-finance', 'Credit Du Maroc',
       'Bank Assafa - Agence Berkane', 'Société Générale Berkane',
       'Umnia Bank Berkane', 'Al Akhdar Bank Berkane', 'Agence El Amana',
       'BMCI Banque', 'Lana cash ben seffar',
       'la banque populaire البنك الشعبي',
       'La Banque Populaire البنك الشعبي', 'cashplus benseffar',
       'Société Générale Sefrou', 'CREDIT AGRICOLE', 'WafaSalaf',
       'Bmci Taounate', 'BMCE BANK OF AFRICA', 'الأمانة للتمويل الأصغر',
       'الشركة العامة للأبناك', 'Attijari Wafabank',
       'Banque Populaire - Agence Ibn Sina', 'Banque BMCE Agence Essalam',
       'Crédit Agricole Bank. Direction Régionale', 'Boujdour',
       'Credit Immobilier Et Hotelier (Cih Standard)',
       'CIH Bank Agence Khemisset', 'Société Générale Khemisset',
       'CIH BANK AGENCE', 'Banque BMCE Agence Khemisset',
       'التجاري وفابنك', 'CIH bank', 'Banque Populaire Ibn Batota'],
      dtype=object)

Here, we see that there are many banks with the same name, but written in different ways. We need to fix that. We are going to use the fuzzywuzzy library to help us with that.  
Before that ler's remove the classes that do not refer to banks.

In [62]:
# import the function from utils/functions.py
import sys
sys.path.append('../utils')
import functions

# define a list of bank labels
labels = df['bank_title'].unique()

# create a dictionnary that maps each bank label to its corresponding bank
bank_dict = functions.map_labels_to_banks(labels)

In [63]:
# create a new column that contains the bank name
df['bank_title'] = df['bank_title'].apply(lambda x: bank_dict[x])

# drop the rows that contain unknown banks
df = df.loc[df['bank_title'] != 'unknown']

Next, we look at the other categories related to the bank.

In [64]:
df['bank_phone'].unique()

array([nan, '+212 5224-89600', '+212 5229-99900', '+212 5222-95955',
       '+212 5290-25980', '+212 5229-53570', '+212 5226-39550',
       '+212 5223-04466', '+212 5222-82285', '+212 5377-13575',
       '+212 5224-98004', '+212 5377-14519', '+212 5377-02296',
       '+212 5375-69691', '+212 5380-12910', '+212 5375-76995',
       '+212 5227-76800', '+212 5226-46264', '+212 530-855820',
       '+212 5377-78151', '+212 5372-16152', '+212 5375-75970',
       '+212 5372-31291', '+212 5359-30078', '+212 611-618255',
       '+212 5359-62480', '+212 5357-24090', '+212 5357-37840',
       '+212 5359-40183', '+212 5356-44122', '+212 5224-24243',
       '+212 80-2000047', '+212 5224-24242', '+212 5244-30320',
       '+212 5244-37265', '+212 52980-0755', '+212 5243-14693',
       '+212 5244-18845', '+212 5244-37326', '+212 5244-46025',
       '+212 5243-39180', '+212 5393-28340', '+212 5399-37424',
       '+212 5393-49120', '+212 5399-57649', '+212 5393-28280',
       '+212 5399-32282', '+212 5380-12916', '+212 5399-48171',
       '+212 5399-42892', '+212 5393-59150', '+212 5393-94164',
       '+212 663-475839', '+212 5399-82606', '+212 5399-82901',
       '+212 5354-68650', '+212 5355-48847', '+212 5354-60400',
       '+212 5355-22880', '+212 5354-01287', '+212 5354-04770',
       '+212 5354-55660', '+212 5355-21658', '+212 5246-19180',
       '+212 5290-20830', '+212 5244-64719', '+212 5246-19190',
       '+212 5366-00881', '+212 5224-79779', '+212 5246-22856',
       '+212 5363-29220', '+212 5363-35356', '+212 5244-65040',
       '+212 5363-29000', '+212 5373-78046', '+212 5373-29661',
       '+212 532-110260', '+212 5373-76251', '+212 5366-04446',
       '+212 5363-29370', '+212 5373-77581', '+212 5380-01354',
       '+212 5373-69080', '+212 5373-29080', '+212 5373-92389',
       '+212 677-333155', '+212 5373-99210', '+212 5380-08878',
       '+212 5233-54633', '+212 5233-54120', '+212 5233-96370',
       '+212 5356-67071', '+212 5290-53516', '+212 5399-62418',
       '+212 5399-61284', '+212 5233-79245', '+212 5397-09035',
       '+212 5397-16160', '+212 5399-98004', '+212 5399-68891',
       '+212 5397-22025', '+212 665-917768', '+212 615-769152',
       '+212 5288-97439', '+212 702-017387', '+212 5288-97437',
       '+212 5289-99000', '+212 5289-31383', '+212 5289-86210',
       '+212 5289-95206', '+212 5289-99504', '+212 5224-34242',
       '+212 5289-32009', '+212 5289-33209', '+212 5289-99230',
       '+212 5289-32300', '+212 5237-29380', '+212 5237-21815',
       '+212 5234-01604', '+212 5237-29342', '+212 5234-01328',
       '+212 5237-21049', '+212 5237-21187', '+212 640-725224',
       '+212 5248-90746', '+212 5248-82698', '+212 5248-83544',
       '+212 5248-82874', '+212 5248-82245', '+212 5287-79040',
       '+212 5288-72050', '+212 5288-73223', '+212 5287-79070',
       '+212 5287-79082', '+212 5223-37013', '+212 5225-33647',
       '+212 5225-35712', '+212 5290-23344', '+212 5223-37043',
       '+212 5225-35720', '+212 5223-37002', '+212 5225-35510',
       '+212 5225-35200', '+212 5290-08390', '+212 5287-84000',
       '+212 5362-31950', '+212 5288-75375', '+212 5366-16353',
       '+212 5362-39010', '+212 5366-12652', '+212 5366-10510',
       '+212 5362-39106', '+212 5362-39000', '+212 5356-83122',
       '+212 5359-69970', '+212 5356-62281', '+212 5356-88150',
       '+212 5356-60817', '+212 610-232558', '+212 5356-89008',
       '+212 5356-88042', '+212 5375-59557', '+212 5375-56005',
       '+212 5375-55735', '+212 5375-59523', '+212 5375-57088',
       '+212 5244-76334', '+212 5244-79250', '+212 5375-55019',
       '+212 5375-55023', '+212 5375-59900', '+212 5375-51700',
       '+212 5375-50677', '+212 697-039077', '+212 5288-96135',
       '+212 5287-79020'], dtype=object)

In [65]:
df['bank_rank'].unique()

array([20, 19, 18, 17, 16, 14, 15, 13, 12, 11, 10,  9,  8,  7,  6,  5,  3,
        4,  2,  1])

Now, all the fields that are related to the bank are tidy.  
We need to do the same for categories related to reviews and reviewers.  
For reviews text, we are only interested in the text itself, we need a column text which holds the text of the review if it's in French, otherwise, we use the translated text, which is in French.

In [66]:
# create a text column which takes text_translated if it exists, otherwise it takes text
df['review_text'] = df['review_text_translated'].fillna(df['review_text'])

In [67]:
# changing reviewer names to unknown if they are nan
df['reviewer_name'] = df['reviewer_name'].fillna('anonymous')

Now we're all set, we can drop the other columns that we don't need.

In [68]:
df.drop(['review_text_translated', 'review_id', 'reviewer_id', 'reviewer_num_reviews'], axis=1, inplace=True)

In [69]:
df['review_id'] = df.index

In [70]:
df.dtypes

bank_adress            object
bank_category          object
bank_id                uint64
bank_city              object
bank_latitude         float64
bank_longitude        float64
bank_phone             object
bank_rank               int64
bank_reviews_count      int64
bank_title             object
bank_score            float64
review_date            object
review_stars          float64
review_text            object
reviewer_name          object
review_id               int64
dtype: object

Let's work on the date column.

In [71]:
df.loc[df['review_date'].isna()]

,bank_adress,bank_category,bank_id,bank_city,bank_latitude,bank_longitude,bank_phone,bank_rank,bank_reviews_count,bank_title,bank_score,review_date,review_stars,review_text,reviewer_name,review_id
76,"H9QW+8XF, Rue Barathon, Casablanca 20250, Maroc",Banque,14450585638160699392,Casablanca,33.588303,-7.602589,NaN,6,0,BMCE Group,NaN,NaN,NaN,NaN,anonymous,76
190,"face à la C.M.R, 04 Av. Al Araar, Rabat 10100,...",Banque,14464757941488660480,Rabat,33.954396,-6.874433,+212 530-855820,9,0,Al Akhdar Bank,NaN,NaN,NaN,NaN,anonymous,190
238,"X43P+CG2, Av. Annakhil, Rabat, Maroc",Banque,12282786406277588992,Rabat,33.953509,-6.863723,NaN,3,0,Attijariwafa Bank,NaN,NaN,NaN,NaN,anonymous,238
241,"260 Ave Mohammed V, Rabat 10020, Maroc",Banque,10759407356930179072,Rabat,34.015919,-6.835043,+212 5372-31291,2,0,BMCE Group,NaN,NaN,NaN,NaN,anonymous,241
369,"Lotissement 07, Fès city Center, champ de Cour...",Banque,12776808075510450176,Fès,34.018125,-5.007845,+212 5224-24243,4,0,Société Générale,NaN,NaN,NaN,NaN,anonymous,369
377,"Angle Avenue Saint Louis et rue 48, Ain chkf, ...",Banque,283667880011130496,Fès,34.022136,-5.006958,+212 5226-46264,1,0,Umnia Bank,NaN,NaN,NaN,NaN,anonymous,377
475,"Avenue Houmane El fetouaki, Arset Lamaâch, 400...",Banque,10771914246444840960,Marrakech,31.621616,-7.988889,+212 5226-46264,10,0,Umnia Bank,NaN,NaN,NaN,NaN,anonymous,475
510,"50 Rue Ibn Aïcha, Marrakech 40000, Maroc50 زنق...",Banque,9444668425060435968,Marrakech,31.637591,-8.011332,NaN,9,0,Attijariwafa Bank,NaN,NaN,NaN,NaN,anonymous,510
563,"M255+8J2, Av. Ibn Sina, Marrakech 40000, Maroc",Banque,5535763029298322432,Marrakech,31.658264,-7.991000,NaN,6,0,Attijariwafa Bank,NaN,NaN,NaN,NaN,anonymous,563
749,Angle Route Rgaye et Rue Echahid Ahrach Mohame...,Banque,13043963981056419840,Tanger,35.753185,-5.799700,+212 5226-46264,6,0,Umnia Bank,NaN,NaN,NaN,NaN,anonymous,749
826,"63VC+C5R, Al Hoceïma, Maroc63VC+C5R، الحسيمة",Banque,14698838305337739264,Al Hoceïma,35.243661,-3.929609,NaN,7,0,BMCE Group,NaN,NaN,NaN,NaN,anonymous,826
978,"11 Bd Allal Ben Abdallah, Meknès, Maroc",Banque,6785874129524993024,Meknès,33.898303,-5.546556,NaN,1,0,Attijariwafa Bank,NaN,NaN,NaN,NaN,anonymous,978
1017,"7QV8+QJQ Q. Plateau, Av. La Liberté, Safi 4600...",Banque,4685477974775357440,Safi,32.294462,-9.233135,NaN,13,0,Attijariwafa Bank,NaN,NaN,NaN,NaN,anonymous,1017
1018,"53C6+MW2, Nador, Maroc53C6+MW2، الناظور",Banque,10377711054164170752,Nador,35.171631,-2.937738,NaN,20,0,BMCE Group,NaN,NaN,NaN,NaN,anonymous,1018
1142,"53JF+2H5, Ang. Avenue Hassan II &, Ave Mohamed...",Banque,4332022813087880192,Nador,35.180005,-2.926014,NaN,7,0,Umnia Bank,NaN,NaN,NaN,NaN,anonymous,1142
1330,"7 Avenue Ligue Arabe, El Jadida, Maroc",Banque,7069814805619467264,El Jadida,33.247829,-8.532317,NaN,18,0,Banque Populaire,NaN,NaN,NaN,NaN,anonymous,1330
1387,"6GW3+W2H, Av. Mohamed VI, El Jadida, Maroc",Banque,14540526252557780992,El Jadida,33.247310,-8.497400,+212 5290-53516,6,0,Assafa Bank,NaN,NaN,NaN,NaN,anonymous,1387
1549,"21 Av. des FAR, Tétouan 93000, Maroc",Banque,10598537862162929664,Tétouan,35.580074,-5.354229,+212 665-917768,1,0,Al Akhdar Bank,NaN,NaN,NaN,NaN,anonymous,1549
1576,"قرب البوسطا, شارع امليلي, Dakhla 73000قرب البو...",Banque,15222368458771580928,Dakhla,23.714168,-15.942758,+212 5288-97439,19,0,Barid Bank,NaN,NaN,NaN,NaN,anonymous,1576
1828,"Avenue makka immeuble 164 ,2eme etage appartem...",Banque,9151586900501578752,Laâyoune,27.155061,-13.198290,NaN,3,0,Banque Populaire,NaN,NaN,NaN,NaN,anonymous,1828
1921,"7, N9, Settat, Maroc",Banque,14911109661886689280,Settat,33.008076,-7.619077,NaN,11,0,Crédit du Maroc,NaN,NaN,NaN,NaN,anonymous,1921
1986,"complexe commercial TIFLIT N 29, N10, Ouarzaza...",Établissement de crédit,12499492962096001024,Ouarzazate,30.920252,-6.914654,+212 5248-90746,16,0,Crédit du Maroc,NaN,NaN,NaN,NaN,anonymous,1986
2077,"XX99+72, Guelmim 81000, MarocXX99+72، ڭلميم 81000",Banque,11107539436038860800,Guelmim,28.968207,-10.032493,NaN,12,0,Attijariwafa Bank,NaN,NaN,NaN,NaN,anonymous,2077
2232,"7C78+VPG, Berrchid, Maroc7C78+VPG، برشيد",Banque,17882352468353269760,Berrchid,33.264693,-7.583175,NaN,7,0,BMCI,NaN,NaN,NaN,NaN,anonymous,2232
2236,"7C69+JWC, Rue de Mosquée, Berrchid, Maroc",Banque,15597630494053939200,Berrchid,33.261557,-7.580231,NaN,5,0,BMCE Group,NaN,NaN,NaN,NaN,anonymous,2236
2281,"260, Bd Hassan II, Bd Hassan II, Berkane, Maro...",Banque,6708134279679981568,Berkane,34.920317,-2.326765,+212 5362-31950,20,0,Crédit du Maroc,NaN,NaN,NaN,NaN,anonymous,2281
2328,Angle Bd HASSAN II et Rte BNI SNASSEN N° 382 H...,Banque,15910890412562319360,Berkane,34.921565,-2.331080,+212 5362-39010,11,0,Société Générale,NaN,NaN,NaN,NaN,anonymous,2328
2372,"WMP9+JCV, Av. Al Ahram شارع الأهرام, Berkane, ...",Banque,1106703457846386944,Berkane,34.936625,-2.331465,NaN,1,0,Al Akhdar Bank,NaN,NaN,NaN,NaN,anonymous,2372
2438,"Av Med YAKHLEF, lotissement IDAOUGNIDEFE, Hay ...",Banque,2663381331261487104,Sefrou,33.830657,-4.836094,+212 5356-62281,5,0,Société Générale,NaN,NaN,NaN,NaN,anonymous,2438
2479,"G9P6+6WQ, S302, Taounate, Maroc",Banque,10943291920293980160,Taounate,34.535590,-4.637632,NaN,2,0,BMCE Group,NaN,NaN,NaN,NaN,anonymous,2479
2568,Complexe Commercial Bin Al Aswar، Rue Boujdour...,Banque,4542775559910272000,Essaouira,31.515733,-9.764855,+212 5244-79250,19,0,CIH Bank,NaN,NaN,NaN,NaN,anonymous,2568
2569,"RWFJ+XHP, Cih Rue M'Barek El Bakkay Quartier T...",Banque,8448758610731419648,Khémisset,33.824974,-6.068553,+212 5375-55019,7,0,CIH Bank,NaN,NaN,NaN,NaN,anonymous,2569
2724,"Avenue Mohammed VI, Place Bir Anzarane, Guelmi...",Banque,12156019567555739648,Guelmim,28.995182,-10.052329,+212 5287-79020,13,0,CIH Bank,NaN,NaN,NaN,NaN,anonymous,2724
2725,"XWVW+35V, Guelmim 81000, MarocXWVW+35V، ڭلميم ...",Banque,9547978248132538368,Guelmim,28.992738,-10.054587,NaN,9,0,Banque Populaire,NaN,NaN,NaN,NaN,anonymous,2725

In [72]:
# drop values with no date
df = df.loc[df['review_date'].notna()]

In [73]:
df['review_date'].isna().sum()

0

No missing values, that's good.

In [74]:
# transform the review_date column to datetime
df['review_date'] = pd.to_datetime(df['review_date'], format='%Y-%m-%d', utc=False).dt.date

In [75]:
df.head()

,bank_adress,bank_category,bank_id,bank_city,bank_latitude,bank_longitude,bank_phone,bank_rank,bank_reviews_count,bank_title,bank_score,review_date,review_stars,review_text,reviewer_name,review_id
0,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,BMCE Group,3.1,2023-02-27,5.0,Une très belle équipe .\nJe recommande spécial...,anonymous,0
1,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,BMCE Group,3.1,2022-09-28,5.0,NaN,anonymous,1
2,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,BMCE Group,3.1,2022-05-27,2.0,NaN,anonymous,2
3,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,BMCE Group,3.1,2022-04-08,1.0,NaN,anonymous,3
4,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,BMCE Group,3.1,2022-01-08,1.0,Mauvais service client,anonymous,4

In [76]:
# reorder the columns
df = df[['bank_id', 'bank_title', 'bank_category', 'bank_adress', 'bank_city', 'bank_phone', 'bank_rank', 'bank_reviews_count', 'bank_score', 'bank_latitude', 'bank_longitude', 'review_id', 'review_date', 'review_stars', 'review_text', 'reviewer_name']]

We need to do one more thing in order to make our data warehouse building easier, it's to separate this dataset into 3 datasets, one for banks, one for reviews and one for reviewers.

In [77]:
banks_df = df[['bank_id', 'bank_title', 'bank_category', 'bank_adress', 'bank_city', 'bank_phone', 'bank_rank', 'bank_reviews_count', 'bank_score', 'bank_latitude', 'bank_longitude']]
reviews_df = df[['review_id', 'bank_id', 'review_date', 'review_stars', 'review_text', 'reviewer_name']]

In [78]:
banks_df = banks_df.drop_duplicates()

In [79]:
# create a directory for the processed data (added in .gitignore)
!mkdir ../data/processed

mkdir: cannot create directory ‘../data/processed’: File exists

In [80]:
banks_df.to_excel("../data/processed/banks.xlsx", index=False)
reviews_df.to_excel("../data/processed/reviews.xlsx", index=False)