In this notebook, we are going to look at our raw dataset `banks.xlsx` for cleaning purposes. We will be using the `pandas` library to help us with this task.

In [110]:
# import libraries
import numpy as np
import pandas as pd

In [111]:
# load the data
df1 = pd.read_excel("../data/raw/banks1.xlsx")
df2 = pd.read_excel("../data/raw/banks2.xlsx")

In [112]:
df1.head()

,address,categoryName,cid,city,location/lat,location/lng,phone,rank,reviewsCount,title,totalScore,reviewId,publishedAtDate,stars,text,textTranslated,reviewerId,reviewerNumberOfReviews,name
0,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2023-02-27T15:53:13.594Z,5.0,Une très belle équipe .\nJe recommande spécial...,NaN,NaN,12.0,NaN
1,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-09-28T09:38:14.263Z,5.0,NaN,NaN,NaN,0.0,NaN
2,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-05-27T18:42:53.897Z,2.0,NaN,NaN,NaN,49.0,NaN
3,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-04-08T13:10:33.584Z,1.0,NaN,NaN,NaN,2.0,NaN
4,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-01-08T15:36:51.089Z,1.0,Mauvais service client,NaN,NaN,2.0,NaN

In [113]:
df1.columns

Index(['address', 'categoryName', 'cid', 'city', 'location/lat',
       'location/lng', 'phone', 'rank', 'reviewsCount', 'title', 'totalScore',
       'reviewId', 'publishedAtDate', 'stars', 'text', 'textTranslated',
       'reviewerId', 'reviewerNumberOfReviews', 'name'],
      dtype='object')

In [114]:
df2.columns

Index(['name', 'address', 'categoryName', 'cid', 'city', 'location/lat',
       'location/lng', 'phone', 'rank', 'reviewsCount', 'title', 'totalScore',
       'reviewId', 'publishedAtDate', 'stars', 'text', 'textTranslated',
       'reviewerId', 'reviewerNumberOfReviews'],
      dtype='object')

In [115]:
df2 = df2[list(df1.columns)]
df2.columns

Index(['address', 'categoryName', 'cid', 'city', 'location/lat',
       'location/lng', 'phone', 'rank', 'reviewsCount', 'title', 'totalScore',
       'reviewId', 'publishedAtDate', 'stars', 'text', 'textTranslated',
       'reviewerId', 'reviewerNumberOfReviews', 'name'],
      dtype='object')

We need to change some columns names, look at the data types ...

In [116]:
df1.columns = ['bank_adress', 'bank_category', 'bank_id', 'bank_city', 'latitude', 'longitude', 'bank_phone', 'bank_rank', 'reviews_count', 'bank_title', 'bank_score', 'review_id', 'review_date', 'review_stars', 'review_text', 'review_text_translated', 'reviewer_id', 'reviewer_num_reviews', 'reviewer_name']
df1.columns

Index(['bank_adress', 'bank_category', 'bank_id', 'bank_city', 'latitude',
       'longitude', 'bank_phone', 'bank_rank', 'reviews_count', 'bank_title',
       'bank_score', 'review_id', 'review_date', 'review_stars', 'review_text',
       'review_text_translated', 'reviewer_id', 'reviewer_num_reviews',
       'reviewer_name'],
      dtype='object')

In [117]:
df2.columns = ['bank_adress', 'bank_category', 'bank_id', 'bank_city', 'latitude', 'longitude', 'bank_phone', 'bank_rank', 'reviews_count', 'bank_title', 'bank_score', 'review_id', 'review_date', 'review_stars', 'review_text', 'review_text_translated', 'reviewer_id', 'reviewer_num_reviews', 'reviewer_name']
df2.columns

Index(['bank_adress', 'bank_category', 'bank_id', 'bank_city', 'latitude',
       'longitude', 'bank_phone', 'bank_rank', 'reviews_count', 'bank_title',
       'bank_score', 'review_id', 'review_date', 'review_stars', 'review_text',
       'review_text_translated', 'reviewer_id', 'reviewer_num_reviews',
       'reviewer_name'],
      dtype='object')

Now that our two datasets have the same columns, we can combine them into one dataset.

In [118]:
df = pd.concat([df1, df2], axis=0)
df.head()

,bank_adress,bank_category,bank_id,bank_city,latitude,longitude,bank_phone,bank_rank,reviews_count,bank_title,bank_score,review_id,review_date,review_stars,review_text,review_text_translated,reviewer_id,reviewer_num_reviews,reviewer_name
0,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2023-02-27T15:53:13.594Z,5.0,Une très belle équipe .\nJe recommande spécial...,NaN,NaN,12.0,NaN
1,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-09-28T09:38:14.263Z,5.0,NaN,NaN,NaN,0.0,NaN
2,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-05-27T18:42:53.897Z,2.0,NaN,NaN,NaN,49.0,NaN
3,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-04-08T13:10:33.584Z,1.0,NaN,NaN,NaN,2.0,NaN
4,"Rue Abou Abdellah Nafii, Casablanca 20250, Maroc",Banque,608978182545380096,Casablanca,33.585603,-7.633682,NaN,20,8,"Bank Of Africa, Agence Al Massira, Maarif.",3.1,NaN,2022-01-08T15:36:51.089Z,1.0,Mauvais service client,NaN,NaN,2.0,NaN

In [121]:
# drop duplicates reviews
df = df.drop_duplicates()

In [125]:
df['bank_city'].unique()

array(['Casablanca', 'Rabat', 'Rabat Hassan', 'Fès', 'Marrakech',
       'Tanger', 'Al Hoceïma', 'Meknès', 'Safi', 'Nador', 'Kénitra',
       'El Jadida', 'Tétouan', 'Khouribga', 'Zagora', 'Dakhla',
       'Laayoune', 'Laâyoune', 'Settat', 'Guisser', 'Ouarzazate',
       'Guelmim', 'Berrchid', 'Sidi Ifni', 'Berkane', 'Sefrou',
       'Taounate', 'Khémisset', 'Essaouira', 'Boujdour'], dtype=object)

We notice that there are some cities that are written in different ways, we need to fix that.

In [126]:
df.loc[df['bank_city'] == 'Rabat Hassan', 'bank_city'] = 'Rabat'
df.loc[df['bank_city'] == 'Laayoune', 'bank_city'] = 'Laâyoune'
df['bank_city'].unique()

array(['Casablanca', 'Rabat', 'Fès', 'Marrakech', 'Tanger', 'Al Hoceïma',
       'Meknès', 'Safi', 'Nador', 'Kénitra', 'El Jadida', 'Tétouan',
       'Khouribga', 'Zagora', 'Dakhla', 'Laâyoune', 'Settat', 'Guisser',
       'Ouarzazate', 'Guelmim', 'Berrchid', 'Sidi Ifni', 'Berkane',
       'Sefrou', 'Taounate', 'Khémisset', 'Essaouira', 'Boujdour'],
      dtype=object)

Cities are now clean.

In [127]:
df['bank_category'].unique()

array(['Banque', "Banque d'épargne", 'Institution financière',
       'Établissement de crédit', nan], dtype=object)

We see that here, we got some categories that are not really banks, we need to get rid of them.

In [128]:
df = df.loc[df['bank_category'].isin(['Banque', "Banque d'épargne", 'Institution financière', 'Établissement de crédit', np.nan])]
df['bank_category'].unique()

array(['Banque', "Banque d'épargne", 'Institution financière',
       'Établissement de crédit', nan], dtype=object)

In [129]:
df['bank_title'].unique()

array(['Bank Of Africa, Agence Al Massira, Maarif.', 'Citibank',
       'Al Akhdar Bank agence casa Racine',
       'BANK OF AFRICA, Agence Abdelmoumen, Casablanca.',
       'Attijariwafa Bank', 'Bank Assafa - Agence PALMIER',
       'BANK OF AFRICA', 'BANK OF AFRICA Golf', 'Bank chaabi',
       'Bank of Africa', 'AttijariWafa Bank Blaise Pascal',
       'Bank of Africa la Gironde', 'ATTIJARIWAFA BANK Sidi Abderrahmane',
       'Attijariwafa Bank, Agence Rue De Rome, Mers Sultan.',
       'Banque Attijariwafa Bank', 'Al Barid bank',
       'BANK OF AFRICA RABAT HAY RIYAD',
       'Attijariwafa Bank Rabat Abd. AlKhattabi', 'BMCE Bank',
       'Bank Al Yousr', 'CFG Bank - Agence Rabat Souissi',
       'banque populaire', 'Barid Bank', 'Umnia Bank Rabat Al Manal',
       'AL AKHDAR BANK HAY RIAD', 'Attijariwafa bank', 'Banque Al yousr',
       'BMCE BANK Agence Rabat Centrale', 'Tijariwafa Bank',
       'Umnia Bank (ag. Rabat hay Ryad)', 'BANK OF AFRICA RABAT CENTRALE',
       'Banque Populaire بنك الشعبي', 'Banque populaire',
       'Crédit du Maroc', 'Société Générale', 'Banque Populaire', 'BMCE',
       'al barid bank', 'AL BARID BANK',
       'Société Générale Fes Route Ain Chkef', 'Umnia Bank Fes',
       'CIH BANK', 'Banque CIH',
       'Espace Libre Service - Société Générale Maroc',
       'CFG Bank - Agence Fes', 'AttijariWafa:1 Bank',
       'Umnia Bank Fes Es-Saada', 'Bank', 'bmce bank', 'BANK BMCE',
       'Société Générale Marrakech Medina', 'CIH Bank',
       'CIH Bank, Agence Marrakech, Hassan II.',
       'Bank Assafa - Agence Marrakech', 'Umnia Bank Marrakech Medina',
       'Attijariwafa banque', 'ATTIJARIWAFABANK',
       'Agence Banque Populaire - البنك الشعبي',
       'Umnia Bank Marrakech Menara', 'Société Générale Tanger Castilla',
       'Société générale Tanger Malabata', 'cashplus tanger',
       'Attijariwafa Bank.', 'بنك الشعبي bank populaire', 'Dar Al Amane',
       'Umnia Bank Tanger', 'Umnia Bank Tanger Dar Tounssi',
       'Bank Assafa - Agence Tanger Mly Ismail',
       'Attijariwafa Bank - Tanger Gzenaya',
       'AL AKHDAR BANK TANGER EL BOUGHAZ', 'Bmci', 'البنك الشعبي',
       'Banque Al-Maghrib', 'Al Barid Bank',
       'Société Générale Meknes Marjane', 'Banque Credit Agricole',
       'attijariwafa bank touarga', 'Société Générale Meknes Medina',
       'Cashplus Zioune', 'ATTIJARIWAFA BANK Hassane 2',
       'Crédit Agricole', 'Bank Assafa - Agence Meknès',
       'AttijariWafa Bank Hamria', 'Société Générale Meknes Principale',
       'Bmce Bank Yacoub el Mansour', 'Société Générale Meknes Zitoune',
       'Umnia Bank Meknes', 'Société Générale Safi Kennedy',
       "ATTIJARI WAFA BANK Centre D'Affaires",
       'Société Générale Safi Driss 1er', 'القروض الصغرى',
       'Banque Populaire ag°2', 'التجاري وفا بنك',
       'Agence Attijariwafa Bank', 'SGMB AGENCE SAFI',
       'التجاري وفابنك - Attijariwafa Bank', 'Cashplus', 'Safaa Bank',
       'Agence Banque Populaire', 'Banque BMCE', 'البريد بنك',
       'Allo Multi-services Chaabi Cash', 'BMCE BANK',
       'Banque populaire Bab Fes', 'بريد بنك',
       'Société Générale Nador Principale', 'Bank al-Maghrib',
       'Société Générale Kenitra Principale', 'UMB', 'Umnia Bank Safi',
       'Banque Crédit Du Maroc', 'Société Générale Kenitra Mimosas',
       'Crédit Agricole du Maroc - Succursale de Kénitra',
       'Agence Al Akhdar BANK', 'Umnia Bank Nador',
       'Banque Populaire - Succursale de Kénitra',
       'التجاري وفا بنك Attijariwafa bank',
       'Société Générale Kenitra Imam Ali',
       'Société Générale Riad Kenitra', 'Banque Populaire Ibn Battouta',
       'HAWS BANK', 'Agence BMCE Banque kenitra Avenue Mly Abdelazziz',
       'Bank Assafa - Agence Kénitra', 'Banque Populaire D El Jadida',
       'Tentes Méditerranée', 'Umnia Bank', 'Bank Assafa', 'Barid Banque',
       'Société Générale Tetouan Sidi Mandri', 'Bank Al Maghreb',
       'Al Barid Bank Tetouan Touabel', 'El Bayad Said',
       'Umnia Bank Tetouan', 'Al AKHDAR Bank, ag Tétouan',
       'البنك الشعبي وكالة زاكورة', 'Barid cash بريد كاش',
       'rio de oro voyages', 'Wafasalaf Laayoune', 'Crédit Du Maroc',
       'بنك CIH', 'Albaridbank Agence Principale', 'Base navale',
       'Société Générale Laayoune', 'Umnia Bank Laayoune',
       'Siège AL BARID BANK', 'SOCIETE GENERALE LAAYOUNE AL WAHDA',
       'Société Générale Dakhla', 'Société Générale Laayoune Mohamed VI',
       'Société Générale SETTAT LALLA AICHA', 'Wafacash',
       'Attijariwafa Bank, Agence Settat, Avenue Des FAR.',
       'Banque Populaire, Agence SETTAT, Moulay Youssef.',
       'Société Générale, Agence Settat.', 'Credit agricole',
       'Crédit Agricole Maroc', 'Espace INWI Settat',
       'Attijariwafa Bank Agence Settat Atlas',
       'Bmci Bnp Paribas, Agence SETTAT.',
       'Banque Populaire, Agence FAR, Settat.',
       'Attijariwafa Bank, Agence SETTAT, Route El Jadida.',
       'Attijariwafa Bank, Agence SETTAT, Place Mohamed V',
       'Umnia Bank Settat', 'Bank Of Africa, Agence Settat Principale.',
       'LANA CASH ET CENTRE COPIE ET PUBLICTE', 'Banque Al Maghreb',
       'Centre Monétique Interbancaire', 'AXA Crédit Ouarzazate',
       'Credit Agricole', 'wafacash', 'BMCI', 'Poste Maroc',
       'société générale', 'بنك الشركة العامة', 'Umnia Bank Ouarzazate',
       'الأمانة للقروض الصغرى', 'Cash Plus', 'Bmce Agence',
       'cashplus saada guelmim a cote la gare routiére',
       'Umnia Bank Guelmim', 'AttijariWafa Banque', 'Canal M Berrechid',
       'CIH Banque', 'BMCE Banque', 'Banque Populaire البنك الشعبي',
       'Bank of africa', 'Société Générale Berrechid', 'Wafa Bank',
       'Bank Al Yousr Berrechid', 'Umnia Berrechid', 'Attawfiq',
       'Crédit Agricole du Maroc', 'Banque Populaire AL WIFAQ',
       'Société Générale ANDALOUS', 'Société Générale Berkane Andalous',
       'Fondation ALKARAMA micro-finance', 'Credit Du Maroc',
       'Bank Assafa - Agence Berkane', 'Société Générale Berkane',
       'Umnia Bank Berkane', 'Al Akhdar Bank Berkane', 'Agence El Amana',
       'BMCI Banque', 'Lana cash ben seffar',
       'la banque populaire البنك الشعبي',
       'La Banque Populaire البنك الشعبي', 'cashplus benseffar',
       'Société Générale Sefrou', 'CREDIT AGRICOLE', 'WafaSalaf',
       'Bmci Taounate', 'BMCE BANK OF AFRICA', 'الأمانة للتمويل الأصغر',
       'الشركة العامة للأبناك', 'Attijari Wafabank',
       'Banque Populaire - Agence Ibn Sina', 'Banque BMCE Agence Essalam',
       'Crédit Agricole Bank. Direction Régionale', 'Boujdour',
       'Credit Immobilier Et Hotelier (Cih Standard)',
       'CIH Bank Agence Khemisset', 'Société Générale Khemisset',
       'CIH BANK AGENCE', 'Banque BMCE Agence Khemisset',
       'التجاري وفابنك', 'CIH bank', 'Banque Populaire Ibn Batota'],
      dtype=object)

Here, we see that there are many banks with the same name, but written in different ways. We need to fix that. We are going to use the fuzzywuzzy library to help us with that.  
Before that ler's remove the classes that do not refer to banks.

In [158]:
# import the function from utils/functions.py
import sys
import functions
sys.path.append('../utils')

# define a list of bank labels
labels = df['bank_title'].unique()

# create a dictionnary that maps each bank label to its corresponding bank
bank_dict = functions.map_labels_to_banks(labels)

In [155]:
# create a new column that contains the bank name
df['bank_title_clean'] = df['bank_title'].apply(lambda x: bank_dict[x])

# drop the rows that contain unknown banks
df = df.loc[df['bank_title_clean'] != 'unknown']